* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.playground-port {
  font-family: var(--font-manrope);
  width: 100%;
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 20px 20px 80px 20px;
}

.playground-port input, .playground-port textarea, .playground-port p, .playground-port button {
  font-family: var(--font-manrope);
}

.playground-port .heading {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 10px !important;
}

.playground-port .heading h3 {
  font-family: var(--font-sacramento);
  font-size: clamp(20px, 3vw, 40px);
  color: var(--text-color);
}

.playground-port .heading h2 {
  font-size: clamp(24px, 3vw, 60px);
  color: var(--text-color);
}

.playground-port .heading a {
  cursor: pointer;
  text-decoration: none;
  background-color: #11acff;
  font-weight: 600;
  color: var(--background-color);
  padding: 6px 18px;
  border-radius: 5px;
}

.playground-port .playground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}

.playground-port .playground .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1070px) {
  .playground-port .playground .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.playground-port .playground .col .block-constant {
  width: 100%;
  min-height: 360px;
  border-radius: 20px;
}

.playground-port .playground .col .block-constant > span {
  background-color: var(--btn-bg) !important;
  width: 100%;
  border-radius: 10px !important;
  padding: 5px 10px !important;
}

.playground-port .playground .col .block-constant > span .react-syntax-highlighter-line-number {
  display: none !important;
}

.playground-port .playground .col .toast-options-ui-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.playground-port .playground .col .toast-options-ui-panel .switchs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}

.playground-port .playground .col .toast-options-ui-panel .switchs .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch {
  background-color: var(--btn-bg);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch input {
  background-color: var(--background-color);
  border-radius: 3px;
  padding: 4px 10px;
  color: var(--text-color);
  outline: none;
  max-width: 60px;
  border: none;
  text-align: end;
  -moz-appearance: none;
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch input::-webkit-outer-spin-button, .playground-port .playground .col .toast-options-ui-panel .switchs .switch input::-webkit-inner-spin-button {
  display: none;
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch .button {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: var(--background-color);
  width: 45px;
  height: 20px;
  border-radius: inherit;
  position: relative;
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch .button .rad {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  left: 5px;
  top: 50%;
  position: absolute;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch .button[aria-checked="true"] {
  background-color: var(--text-color);
}

.playground-port .playground .col .toast-options-ui-panel .switchs .switch .button[aria-checked="true"] .rad {
  left: calc(100% - 15px);
  background-color: var(--btn-bg);
}

.playground-port .playground .col .toast-options-ui-panel .switchs p {
  color: var(--text-color);
  font-size: 14px;
}

.playground-port .playground .col .toast-options-ui-panel .bblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}

.playground-port .playground .col .toast-options-ui-panel .bblock p {
  color: var(--text-color);
  font-size: 14px;
}

.playground-port .playground .col .toast-options-ui-panel .bblock input, .playground-port .playground .col .toast-options-ui-panel .bblock textarea {
  width: 100%;
  background-color: var(--btn-bg);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 15px;
  color: var(--text-color);
}

.playground-port .playground .col .toast-options-ui-panel .bblock textarea {
  resize: none;
}

.playground-port .playground .col .toaster-settings-ui-panel {
  max-width: 400px;
}

.playground-port .playground .col .toaster-settings-ui-panel, .playground-port .playground .col .toast-options-ui-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.playground-port .playground .col .toaster-settings-ui-panel .bblock, .playground-port .playground .col .toast-options-ui-panel .bblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}

.playground-port .playground .col .toaster-settings-ui-panel .bblock p, .playground-port .playground .col .toast-options-ui-panel .bblock p {
  color: var(--text-color);
  font-size: 14px;
}

.playground-port .playground .col .toaster-settings-ui-panel .bblock .ctagrp, .playground-port .playground .col .toast-options-ui-panel .bblock .ctagrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.playground-port .playground .col .toaster-settings-ui-panel .bblock .ctagrp button, .playground-port .playground .col .toast-options-ui-panel .bblock .ctagrp button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: var(--btn-bg);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  min-width: 120px;
  border-radius: 5px;
  color: var(--text-color);
}

.playground-port .playground .col .toaster-settings-ui-panel .bblock .ctagrp .inactive:hover, .playground-port .playground .col .toast-options-ui-panel .bblock .ctagrp .inactive:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.playground-port .playground .col .toaster-settings-ui-panel .bblock .ctagrp .active, .playground-port .playground .col .toast-options-ui-panel .bblock .ctagrp .active {
  background-color: var(--text-color);
  color: var(--btn-bg);
}

.btn-fixed {
  width: 100%;
  position: fixed;
  padding: 0px 20px 20px 20px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
}

.makeToast {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 100%;
  background-color: var(--text-color);
  color: var(--btn-bg);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  border: none;
  border: 1px solid var(--background-color);
  font-weight: 400;
  max-width: 500px;
}

.makeToast:hover {
  scale: 1.1;
}
/*# sourceMappingURL=globals.css.map */